body.contact {
    background-color: white !important;
    margin: 98px 92px 96px !important;
    height: auto !important; // Override the 100vh from reset
    overflow-x: visible !important; // Allow margin to show
}